
.images-container {
  display : flex;
  justify-content : center;
}

.images-container img{
  margin-left : 5px;
  margin-right : 5px;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
 @media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
